{% extends 'base.html' %} {% block content %}
<h1>{{page_title}}</h1>
<p>
	The names of the twelve disciples of Jesus are Simon Peter, Andrew,
	James (the son of Zebedee), John, Philip, Bartholomew, Thomas, Matthew,
	James (the son of Alphaeus), Thaddaeus, Simon the Zealot and Judas Iscariot. (See Matthew 10:1-4 and Luke 6:12-16.)
</p>
{% for disciple in disciples %}
<div class="row featurette">
  {% if loop.index % 2 != 0 %}
	<div class="col-md-7">
		<h3>{{loop.index}}.  {{ disciple.Name }}</h3>
		<p>{{ disciple.short_descreption}}</p>
        <div class="text-right"><a href="/about/{{disciple.url}}">Read more..</a></div>
	</div>
	 <div class="col-md-5">
		<img class="featurette-image img-responsive" src="{{disciple.image_source }}" alt="">
     </div>
     {% else %}
    <div class="col-md-5">
		<img class="featurette-image img-responsive" src="{{disciple.image_source }}" alt="">
     </div>
    <div class="col-md-7">
		<h3>{{loop.index}}.  {{ disciple.Name }}</h3>
		<p>{{ disciple.short_descreption}}</p>
        <div class="text-right"><a href="/about/{{disciple.url}}">Read more..</a></div>
	</div>
     {% endif %}
	</div>
    {% if disciples|length > loop.index %}
    <hr class="featurette-divider">
    {% endif %}

    {% endfor %}
		{% endblock %}