{% extends 'base.html' %} {% block content %}
<h1>{{page_title}}</h1>
<p>
	The names of the twelve disciples of Jesus are Simon Peter, Andrew,
	James (the son of Zebedee), John, Philip, Bartholomew, Thomas, Matthew,
	James (the son of Alphaeus), Thaddaeus, Simon the Zealot and Judas Iscariot. (See Matthew 10:1-4 and Luke 6:12-16.)
</p>

<div class="row featurette">
	<div class="col-md-7">
		<h3>Peter</h3>
		<p>Simon Peter, son of Jonas, was a fisherman who lived in Bethsaida and Capernaum. He did evangelistic and
			missionary work among the Jews, going as far as Babylon. He was a member of the Inner Circle and authored
			the
			two New Testament epistles which bear his name. Tradition says he was crucified, head downward, in Rome.

			In every apostolic list, the name Peter is mentioned first. However, Peter had other names. At the time of
			Christ, the common language was Greek and the family language was Hebrew. So his Greek name was Simon (Mark
			1:16; John 1:40, 41). His Hebrew name was Cephas (1 Corinthians 1:12; 3:22; 9:5 and Galatians 2:9). The
			Greek
			meaning of Simon is rock. The Arabic meaning of Cephas is also rock.

			By trade, Peter was a fisherman. He was a married man (1 Corinthians 9:5) and his home was Capernaum. Jesus
			probably made His headquarters there when He visited Capernaum. Peter was also a Galilean as was typical of
			many
			of the other disciples. Josephus described the Galileans this way, "They were ever fond of innovation and by
			nature disposed to change and delighted in sedition. They were ever ready to follow the leader and to begin
			an
			insurrection. They were quick in temper and given to quarreling and they were very chivalrous men." The
			Talmud
			says this of the Galileans, "They were more anxious for honor than for gain, quick-tempered, impulsive,
			emotional, easily aroused by an appeal to adventure, loyal to the end."

			Peter was a typical Galilean. Among the twelve, Peter was the leader. He stands out as a spokesman for all
			the
			twelve Apostles. It is he who asked the meaning of the difficult saying in Matthew 15:15. It is he who asked
			how
			often he must forgive. It is he who inquired about the reward for all of those who follow Jesus. It is he
			who
			first confessed Jesus and declared Him as the Son of the Living God. It is he who was at the Mount of
			Transfiguration. It is he who saw Jairus' daughter raised to life. Yet, it is he who denied Christ before a
			maiden. He was an Apostle and a missionary who laid down his life for his Lord. It is true, Peter had many
			faults, but he had always the saving grace of the loving heart. No matter how many times he had fallen and
			failed, he always recovered his courage and integrity.

			Peter was martyred on a cross. Peter requested that he might be crucified head downward for he was not
			worthy to
			die as his Lord had died. His apostolic symbol is a cross upside down with crossed keys.



		</p>
	</div>
	<div class="col-md-5">
		<img src="https://bibleinfo.s3-us-west-2.amazonaws.com/images/disciples/peter-opt.jpg" alt="">
</div>
	</div>
	<div class="row featurette">
		<div class="col-md-5">
			<img src="https://bibleinfo.s3-us-west-2.amazonaws.com/images/disciples/james-greater-opt.jpg" alt="">
</div>
			<div class="col-md-7">
				<h3>James</h3>
				<p>James, the Elder, Boanerges, son of Zebedee and Salome, brother of John the Apostle; a fisherman who
					lived in Bethsaida, Capernaum and Jerusalem. He preached in Jerusalem and Judea and was beheaded by
					Herod, AD 44 (Acts 12:1,2). He was a member of the Inner Circle, so called because they were
					accorded special privileges. The New Testament tells us very little about James. His name never
					appears apart from that of his brother, John. They were an inseparable pair (Mark 1:19-20; Matthew
					4:21; Luke 5:1-11).

					He was a man of courage and forgiveness, a man without jealousy, living in the shadow of John, a man
					of extraordinary faith. He was the first of the twelve to become a martyr. His symbol is three
					shells, the sign of his pilgrimage by the sea.
				</p>
			</div>
		</div>
		{% endblock %}